.bg-primary {
  border: 0;
}
.bg-primary h5,
.bg-primary h3 {
  color: #ffffff !important;
}

.m {
  align-content: center;
  justify-content: center;
}
select.form-control {
  height: calc(2.25rem + 2px);
}